{
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
  ],
  "plugins": ["@typescript-eslint", "prettier", "import"],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": ["tsconfig.json", "infra/tsconfig.json"]
      },
    },
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "printWidth": 100,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "all",
      },
    ],
    "import/no-restricted-paths": [
      "error",
      {
        "zones": [
          {
            "target": "./src",
            "from": "./infra",
            "message": "Do not import infra resources into runtime code"
          },
          {
            "target": "./infra",
            "from": "./src",
            "message": "Do not import runtime code into infra resources"
          }
        ]
      }
    ]
  },
  "env": {
    "node": true,
    "jest": true
  }
}